@import "../../resource/style/var";
.#{$css-prefix}lottery-view {
  position: relative;
  background: #F5100F;
  &-bg {
    box-sizing: border-box;
    padding-top: 472px;
    width: 100%;
    height: 1334px;
    background: url("../../resource/image/lottery/bg.png") no-repeat;
    background-size: 100% 100%;
  }
  &-enter {
    position: absolute;
    width: 144px;
    right: 0;
    top: 43px;
  }
  &-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:50px;
    background:linear-gradient(0deg,rgba(251,191,112,1) 0%,rgba(255,227,187,1) 100%);
    border-radius:25px 0px 0px 25px;
    margin-bottom: 33px;
    font-size:24px;
    font-family:Source Han Sans CN;
    font-weight:400;
    color:rgba(185,3,4,1);
    line-height:30px;
  }
  &-lottery-wrap {
    position: relative;
    margin: 0 auto;
    width: 575px;
    height: 575px;
  }
  .p-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &-lottery {
    @extend .p-center;
    width: 100%;
    height: 100%;
    background: url("../../resource/image/lottery/wrap.png") no-repeat;
    background-size: 100% 100%;
  }
  &-inner {
    @extend .p-center;
    width: 469px;
    height: 469px;
    background: url("../../resource/image/lottery/inner.png");
    background-size: 100% 100%;
    z-index: 2;
  }
  &-tottery-button {
    @extend .p-center;
    width: 146px;
    height: 219px;
    background: url("../../resource/image/lottery/button.png") no-repeat;
    background-size: 100% 100%;
    z-index: 3;
  }
  &-list {
    position: relative;
    &-title {
      margin: 0 auto;
      display: flex;
      justify-content: center;
      box-sizing: border-box;
      width:690px;
      height:67px;
      padding-top: 7px;
      background:linear-gradient(0deg,rgba(255,162,46,1) 0%,rgba(255,206,116,1) 100%);
      border-radius:34px;
      font-size:28px;
      font-family:Source Han Sans CN;
      font-weight:400;
      color:rgba(192,10,12,1);
    }
    &-content {
      box-sizing: border-box;
      font-size:22px;
      font-family:Source Han Sans CN;
      font-weight:400;
      color:rgba(255,248,248,1);
      position: absolute;
      top: 47px;
      left: 50%;
      transform: translateX(-50%);
      box-sizing: border-box;
      width:584px;
      height:223px;
      padding-top: 14px;
      padding-bottom: 19px;
      background:rgba(254,66,54,1);
      box-shadow:0px 4px 11px 1px rgba(178,24,15,0.5);
      border-radius:0px 0px 20px 20px;
    }
    &-item {
      display: flex;
      justify-content: space-around;
      height: 38px;
      text-align: center;
    }
    &-text1 {
      width: 145px;
    }
    &-text2 {
      width: 222px;
    }
    &-text3 {
      flex: 1;
      text-align: center;
      width: 180px;
    }
  }
}
.am-modal-transparent {
  width: 600 / 75rem;
}
.am-modal-transparent .am-modal-content {
  padding-top: 0;
}
.am-modal-transparent .am-modal-content .am-modal-body {
  padding: 0 0 0;
}
.#{$css-prefix}lottery-view-login-content {
  //width: 600px;
  //height: 500px;
  width: 750px;
  height: 100px;
}
