.record {
  width: 750px;
  height: 200px;

  .header {
    background-image: url('../../resource/image/record/header_rule.png');
    background-size: 100%;
    height: 200px;
  }

  .rule-content {
    padding-top: 49px;
    width: 687px;
    height: 241px;
    font-size: 26px;
    font-family: Source Han Sans CN;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    line-height: 36px;
    margin: 0 auto;

    p:not(:first-child) {
      margin-top: 36px;
    }

  }

  .site {
    width: 690px;
    height: 48px;
    margin: 45px auto 0;

    .site-header {
      background: rgba(237, 237, 237, 1);
    }

    .site-item:first-child {
      border-top: 1px solid rgba(204, 204, 204, 1);
    }

    .site-item+.site-item {
      border-bottom: 1px solid rgba(204, 204, 204, 1);
    }

    .site-item {
      height: 46px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border-left: 1px solid rgba(204, 204, 204, 1);
      border-right: 1px solid rgba(204, 204, 204, 1);

      span {
        width: 50%;
        font-size: 24px;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: rgba(51, 51, 51, 1);
      }
    }
  }
}